pymem
pywin32
pyautogui
gevent==22.10.1
pycryptodome
eel
tqdm
requests
wmi
pyautoit
psutil
# pytesseract
Pillow
#timestring
pynput

# ahk
# ahk[binary]
# python-telegram-bot
numpy
#pywebview
#cefpython3
